.footer
    background-color: #245852
    color: #fff
    padding: 104px 144px
    &__logo
        width: 106.09px
        height: 30.72px
    &__logo + *
        margin-top: 74px
    &__nav
        font-size: 25px
        font-weight: 600
        ul
            li
                a
                    transition: .3s all
                    &:hover
                        opacity: .8
            li + li
                margin-top: 60px